aider
aider-chat
aiodns
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
appnope
argcomplete
asttokens
async-timeout
attrs
Authlib
autoflake
backcall
backoff
beautifulsoup4
black
bleach
blinker
boto3
botocore
bs4
build
CacheControl
cachelib
cachetools
certifi
cffi
chardet
charset-normalizer
cleo
click
colorama
ConfigArgParse
configparser
crashtest
cryptography
decorator
defusedxml
diff-match-patch
discord
discord.py
diskcache
distlib
distro
docopt
docutils
dulwich
executing
fastapi
fastjsonschema
filelock
flake8
Flask
Flask-Session
frozendict
frozenlist
fsspec
gitdb
GitPython
greenlet
grep-ast
h11==0.14.0
httpcore
httptools
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
iniconfig
installer
ipython
isort
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jiter
jmespath
json5
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
kinde-python-sdk
litellm
markdown-it-py
MarkupSafe
matplotlib-inline
maxminddb
mccabe
mdurl
mistune
more-itertools
mpmath
msgpack
msgspec
multidict
mypy-extensions
nbclient
nbconvert
nbformat
networkx
nh3
notion-client
numpy
openai
openapi-client
openapi-python-client
packaging
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
pip-review
pipenv
pipfile
pipreqs
pipx
pkginfo
platformdirs
playwright
PlexAPI
pluggy
poetry
poetry-core
poetry-plugin-export
prompt_toolkit
proxyhub
psutil
ptyprocess
pure-eval
pycares
pycodestyle
pycparser
pydantic
pydantic_core
pydub
pyee
pyflakes
Pygments
PyJWT
PyNaCl
pypager
pypandoc
pyperclip
pyproject-api
pyproject_hooks
pytest
pytest-mock
python-dateutil
python-dotenv
python-multipart
PyYAML
pyzmq
rapidfuzz
readme_renderer
referencing
regex
requests
requests-toolbelt
responses
rfc3986
rich
rpds-py
ruff
s3transfer
safetensors
scipy
setuptools-scm
shellingham
six
smmap
sniffio
sounddevice
soundfile
soupsieve
stack-data
starlette
sympy
-e git+https://github.com/team-telnyx/telnyx-python@6c1b15032389a620b9796cf7f093e8fcae7a4d91#egg=telnyx
tiktoken
tinycss2
tokenizers
toml
tomlkit
torch
tornado
tox
tqdm
traitlets
transformers
tree-sitter
tree-sitter-languages
trove-classifiers
twine
typer
typing_extensions
urllib3
userpath
uvicorn
uvloop
virtualenv
virtualenv-clone
watchfiles
wcwidth
webencodings
websockets==12.0
Werkzeug
xattr
yarg
yarl
zipp
